<div class="container">
  <button onclick="window.location.href='/dashboard'" class="btn btn-salmon">
    Return to dashboard
  </button>

  <br /><br />

  <h2 class="title mt-3 titles">EDIT REVIEW</h2>

  <br />

  <form class="form edit-post-form">
    <div>
      <label for="post-name">Movie title:</label><br />
      <input
        class="input my-2"
        name="post-name"
        type="text"
        value="{{ name }}"
      />
    </div>

    <br />

    <div>
      <label for="post-rating">Rating:</label><br />
      <div id="rater" data-rating="{{ rating }}"></div>
    </div>

    <br />

    <div>
      <label for="post-desc">Review:</label><br />
      <input
        class="input my-2"
        name="post-desc"
        type="text"
        value="{{ description }}"
      />
    </div>

    <br />

    <button type="submit" class="btn btn-salmon">Save Review</button>

    <br /><br />
  </form>
</div>

<script src="/js/editReview.js"></script>

<script src="/js/bundleEdit.js"></script>
