<div class="row">
  <div class="col-md-6 p-3">
    <h2 style="background-color: rgb(22, 22, 19); border-radius: 0.2rem; padding: 10px; color: white">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email: </label><br>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group mb-3">
        <label for="password-login">Password: </label><br>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group mb-3">
        <button class="btn btn-danger" type="submit">login</button>
      </div>
    </form>
    <h6>Don't have an account?
      <br>
      <a id="signuplink" href="/signup">Sign up here!</a>
    </h6>
  </div>
</div>
<script src="./js/login.js"></script>